<!DOCTYPE html>
<html>
<head>
  <title>Resend confirmation instructions</title>
  <style>
      /* Global styles */
      body {
          font-family: Arial, sans-serif;
          background-color: #f4f4f4;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
      }

      .container {
          max-width: 400px;
          padding: 20px;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h2 {
          text-align: center;
      }

      /* Form styles */
      .field {
          margin-bottom: 20px;
      }

      label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
      }

      input[type="email"] {
          width: 100%;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-sizing: border-box; /* Ensure padding and border are included in width */
      }

      .actions {
          text-align: center;
      }

      .actions input[type="submit"] {
          padding: 10px 20px;
          font-size: 16px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
      }

      .actions input[type="submit"]:hover {
          background-color: #0056b3;
      }

      /* Link styles */
      .links {
          text-align: center;
          margin-top: 20px;
      }

      .links a {
          color: #007bff;
          text-decoration: none;
      }

      .links a:hover {
          text-decoration: underline;
      }
  </style>
</head>
<body>
<div class="container">
  <h2>Resend confirmation instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions" %>
    </div>
  <% end %>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>
</body>
</html>
