<%= form_with(model: nubd_suggestion, class: "contents") do |form| %>
  <% if nubd_suggestion.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(nubd_suggestion.errors.count, "error") %> prohibited this nubd_suggestion from being saved:</h2>

      <ul>
        <% nubd_suggestion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :department_id %>
    <%= form.collection_select :department_id, Department.all, :id, :name, { prompt: "Select department" }, { id: "nubd_suggestion_department_id", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5">
    <%= form.label :subject_id %>
    <%= form.collection_select :subject_id, [], :id, :name, { prompt: "Select subject" }, { id: "nubd_suggestion_subject_id", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5">
    <%= form.label :year %>
    <%= form.number_field :year, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :free_pdf, "Upload free PDF" %>
    <%= form.file_field :free_pdf, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
